[Unit]
Description = Backend Service

[Service]
User={{app_user}}
WorkingDirectory=/app
Environment=DB_HOST="mysql-{{ env }}.akhilsaidevops.online"
Environment=NEW_RELIC_APP_NAME=backend
Environment=NEW_RELIC_LICENSE_KEY=d1f3d0a4ca296dc9344ed8cbb31a90f1FFFFNRAL
ExecStart=/bin/node -r newrelic /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
